<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

	<context:annotation-config />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeHandlersPackage" value="nl.remco.service.common.daohandlers" />
		<property name="typeAliasesPackage"
			value="nl.remco.service.groep.model,nl.remco.service.scope.model,nl.remco.service.common.model" />
	</bean>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:///config/rw/jdbc.properties</value>
		</property>
	</bean>

	<bean id="beanMapper" class="org.dozer.DozerBeanMapper"/>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="groepMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="nl.remco.service.groep.dao.GroepMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="scopeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="nl.remco.service.scope.dao.ScopeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean class="nl.remco.service.groep.dao.GroepDao" />
	<bean class="nl.remco.service.scope.dao.ScopeDao" />
	<bean class="nl.remco.service.klant.impl.CRMCustomersDelegate"/>
	<bean class="nl.remco.service.organisatie.impl.CRMOrganisationsDelegate"/>
	<bean class="nl.remco.service.groep.impl.GroepEnricher"/>
	<bean class="nl.remco.service.klant.impl.KlantEnricher"/>
	<bean class="nl.remco.service.klant.impl.KlantServiceImpl"/>
	<bean class="nl.remco.service.groep.impl.GroepServiceImpl"/>
	<bean class="nl.remco.service.scope.impl.ScopeServiceImpl"/>
	<bean class="nl.remco.service.organisatie.impl.OrganisatieServiceImpl"/>
	<bean class="nl.remco.crm.customers.CRMCustomersServicesImp" />
	<bean class="nl.remco.crm.organisations.CRMOrganisationsServiceImp"/>
</beans>
