body {
	font-family: "Verdana";
	font-size: 12px;
}

p {
}

h1 {
	margin-top: 2em;
	font-size: 1.6em;
	line-height: 1.6em;
	border-bottom: 1px solid #B0BED9;
	clear: both;
	font-weight: bold;
	color: #FF3366;
}

h2 {
	font-size: 1.4em;
	line-height: 1.6em;
	font-weight: bold;
	color: #EE2255;
	clear: both;
}

h3 {
	font-size: 1.2em;
	line-height: 1.6em;
	font-weight: bold;
	color: #DD1144;
	clear: both;
}

h4 {
	font-size: 1.0em;
	line-height: 1.6em;
	font-weight: bold;
	color: #CC0033;
	clear: both;
}
